<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="SUVMaxSize"   value="25"/>
        <add key="SUVMaxWeight" value="50"/>
        <add key="SUVSpeed"     value="100"/>
        
        <add key="VANMaxSize"   value="75"/>
        <add key="VANMaxWeight" value="200"/>
        <add key="VANSpeed"     value="80"/>
        
        <add key="TRUCKMaxSize"   value="300"/>
        <add key="TRUCKMaxWeight" value="750"/>
        <add key="TRUCKSpeed"     value="45"/>
        
        <!-- Please sync this with your top vehicle -->
        <add key="VehicleMaxSize" value="300"/>
        <add key="VehicleMaxWeight" value="750"/>
        
        <add key="MaxDeliveryDistance" value="1000"/>
    </appSettings>
</configuration>
